<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>ServletForm</servlet-name>
        <servlet-class>ru.excelsior.servlet.servlets.ServletForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletShow</servlet-name>
        <servlet-class>ru.excelsior.servlet.servlets.ServletShow</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletShow</servlet-name>
        <url-pattern>/table</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletForm</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>